<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Temperature Sensor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0/dist/css/tabler.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0/dist/js/tabler.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@4.5.0" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // https://apexcharts.com/docs/update-charts-from-json-api-ajax/
            const ru = {
                "name": "ru",
                "options": {
                    "months": [
                        "Январь",
                        "Февраль",
                        "Март",
                        "Апрель",
                        "Май",
                        "Июнь",
                        "Июль",
                        "Август",
                        "Сентябрь",
                        "Октябрь",
                        "Ноябрь",
                        "Декабрь"
                    ],
                    "shortMonths": [
                        "Янв",
                        "Фев",
                        "Мар",
                        "Апр",
                        "Май",
                        "Июн",
                        "Июл",
                        "Авг",
                        "Сен",
                        "Окт",
                        "Ноя",
                        "Дек"
                    ],
                    "days": [
                        "Воскресенье",
                        "Понедельник",
                        "Вторник",
                        "Среда",
                        "Четверг",
                        "Пятница",
                        "Суббота"
                    ],
                    "shortDays": ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                    "toolbar": {
                        "exportToSVG": "Сохранить SVG",
                        "exportToPNG": "Сохранить PNG",
                        "exportToCSV": "Сохранить CSV",
                        "menu": "Меню",
                        "selection": "Выбор",
                        "selectionZoom": "Выбор с увеличением",
                        "zoomIn": "Увеличить",
                        "zoomOut": "Уменьшить",
                        "pan": "Перемещение",
                        "reset": "Сбросить увеличение"
                    }
                }
            };

            const temperatureSeries = (data) => [{
                name: "",
                data
            }]

            const temperatureChart = new ApexCharts(document.getElementById('chart-temperature-bg'), {
                chart: {
                    locales: [ru],
                    defaultLocale: 'ru',
                    type: "area",
                    fontFamily: 'inherit',
                    height: 40,
                    sparkline: {
                        enabled: true
                    },
                    animations: {
                        enabled: false
                    },
                },
                dataLabels: {
                    enabled: false,
                },
                fill: {
                    opacity: .16,
                    type: 'solid'
                },
                stroke: {
                    width: 2,
                    lineCap: "round",
                    curve: "smooth",
                },
                series: temperatureSeries([]),
                tooltip: {
                    theme: 'dark'
                },
                grid: {
                    strokeDashArray: 4,
                },
                xaxis: {
                    labels: {
                        padding: 0,
                    },
                    tooltip: {
                        enabled: false
                    },
                    axisBorder: {
                        show: false,
                    },
                    type: 'datetime',
                },
                yaxis: {
                    labels: {
                        padding: 4
                    },
                },
                colors: [tabler.getColor("primary")],
                legend: {
                    show: false,
                },
            });



            const pressureSeres = (data) => [{
                name: "",
                data
            }]

            const pressureChart = new ApexCharts(document.getElementById('chart-pressure'), {
                chart: {
                    locales: [ru],
                    defaultLocale: 'ru',
                    type: "bar",
                    fontFamily: 'inherit',
                    height: 40,
                    sparkline: {
                        enabled: true
                    },
                    animations: {
                        enabled: false
                    },
                },
                plotOptions: {
                    bar: {
                        columnWidth: '50%',
                    }
                },
                dataLabels: {
                    enabled: false,
                },
                fill: {
                    opacity: 1,
                },
                series: pressureSeres([]),
                tooltip: {
                    theme: 'dark'
                },
                grid: {
                    strokeDashArray: 4,
                },
                xaxis: {
                    labels: {
                        padding: 0,
                    },
                    tooltip: {
                        enabled: false
                    },
                    axisBorder: {
                        show: false,
                    },
                    type: 'datetime',
                },
                yaxis: {
                    labels: {
                        padding: 4
                    },
                },

                colors: [tabler.getColor("primary")],
                legend: {
                    show: false,
                },
            });

            temperatureChart.render();
            pressureChart.render();

            const currentUrl = new URL(window.location.href);
            currentUrl.pathname = '/subscribe';
            console.log(currentUrl.toString())


            const valuePressure = document.getElementById('value-pressure');
            const valueTemperature = document.getElementById('value-temperature');
            const valueHumidity = document.getElementById('value-humidity');

            const progressBarHumidity = document.getElementById('progress-bar-humidity');
            const progressBarHumiditySpan = progressBarHumidity.querySelector('.visually-hidden');

            const formatter = new Intl.NumberFormat('ru-RU', {
                minimumFractionDigits: 2,
                maximumFractionDigits: 2
            });

            const updateProgressBar = (humidity) => {
                const label = formatter.format(humidity) + "%"

                progressBarHumidity.style = "width:" + humidity.toFixed(2) + "%";
                progressBarHumidity.setAttribute('aria-valuenow', +humidity.toFixed(2));
                progressBarHumidity.setAttribute('aria-label', label);
                progressBarHumiditySpan.textContent = label;
            }

            const onEvent = (state) => {
                const { current, chart } = state;
                console.log(current);

                valueTemperature.textContent = formatter.format(current.temperature);
                valuePressure.textContent = formatter.format(current.pressure);
                valueHumidity.textContent = formatter.format(current.humidity);

                updateProgressBar(current.humidity);

                temperatureChart.updateSeries(temperatureSeries(chart.temperature));
                pressureChart.updateSeries(pressureSeres(chart.pressure));
            }

            // init
            onEvent({{.JSONData }});


        const eventSource = new EventSource(currentUrl.toString());
        eventSource.onmessage = function (event) {
            onEvent(JSON.parse(event.data))
        };
        });
    </script>
</head>
<!-- https://preview.tabler.io -->

<body data-bs-theme="dark">
    <div class="page">
        <div class="page-wrapper">
            <div class="page-header d-print-none">
                <div class="container-xl">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <div class="page-pretitle">Сенсоры</div>
                            <div class="page-title">На балконе</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
                    <div class="row row-deck row-cards">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="subheader">Температура</div>
                                    <div class="h1"><span id="value-temperature"></span>°</div>
                                </div>
                                <div id="chart-temperature-bg" class="chart-sm"></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card">
                                <div class="card-body d-flex flex-column">
                                    <div class="subheader">Влажность</div>
                                    <div class="h1"><span id="value-humidity"></span>%</div>

                                    <div class="progress progress-sm mt-auto" bis_skin_checked="1">
                                        <div class="progress-bar bg-primary" style="width: 0%"
                                            id="progress-bar-humidity" role="progressbar" aria-valuenow="0"
                                            aria-valuemin="0" aria-valuemax="100" aria-label="" bis_skin_checked="1">
                                            <span class="visually-hidden"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="subheader">Давление</div>
                                    <div class="d-flex align-items-baseline">
                                        <div class="h1 mb-0 me-2" id="value-pressure"></div>
                                        <div class="me-auto">мм рт. ст.</div>
                                    </div>
                                    <div id="chart-pressure" class="chart-sm"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>